---
import "../styles/cta.css";

interface Props {
  title: string;
  description: string;
  primaryButtonText: string;
  primaryButtonLink: string;
  secondaryButtonText: string;
  secondaryButtonLink: string;
}

const {
  title,
  description,
  primaryButtonText,
  primaryButtonLink,
  secondaryButtonText,
  secondaryButtonLink,
} = Astro.props;
---

<section class="cta">
  <div class="container">
    <div class="cta-content card">
      <h2>{title}</h2>
      <p>{description}</p>
      <div class="cta-buttons">
        <a href={primaryButtonLink} class="btn">{primaryButtonText}</a>
        <a href={secondaryButtonLink} class="btn btn-secondary"
          >{secondaryButtonText}</a
        >
      </div>
    </div>
  </div>
</section>
