---
import { Image } from "astro:assets";
import "../styles/feature.css";

interface Props {
  title: string;
  description: string;
  imageUrl: any;
  imageAlt: string;
  loading?: "lazy" | "eager";
}

const {
  title,
  description,
  imageUrl,
  imageAlt,
  loading = "lazy",
} = Astro.props;
---

<div class="feature-card card">
  <Image
    src={imageUrl}
    alt={imageAlt}
    class="feature-image"
    loading={loading}
  />
  <h3>{title}</h3>
  <p>{description}</p>
</div>
